@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%;
}
a{
    text-decoration: none;
}
section{
    min-height: 550px;
    margin-bottom: 80px;
}
#welcome{
    background-image: url('images/top-banner.png'); 
    background-repeat: no-repeat;
}
#welcome h1, .dream h1{
    font-size: 50px;
    margin:40px 0px;
    font-weight: bold;
}
#welcome h1 span{
    color: orange;
}
#welcome,.dream  h5{
    font-weight: bold;
}
#welcome,.dream  p{
    font-size: 17.5px;
    color: grey;
    font-weight: lighter;
}
#welcome a,.dream  a{
    padding: 10px 40px;
    background-image: linear-gradient(to right, orange, rgb(255, 81, 0));
    color: white;
    font-weight: bold;
    border-radius: 7px;
}
section img{
    height: 100%;
    width: 100%;
}
.dream{
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.experiences{
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}
.experience{
    padding:60px;
}
.experiences h2{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
}
.experience h5{
    color: orange;
}
.experience h6{
    color: grey;
    font-size: 17px;
    margin-top: 20px;
}
#experience1{
    box-shadow: 5px 7px 40px gray;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    margin-left: 80px;
}